/* Import Montserrat font if not included in HTML */

/* Global styles */
body {
  margin: 60px auto;
  width: 70%;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the entire page */
}

nav {
  background-color: #3498db; /* Change the color as needed */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the navigation bar */
}

nav ul, footer ul {
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for lists in navigation and footer */
  padding: 0;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for h2 elements */
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for paragraphs */
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the footer */
}

/* Styles for the container */
.container {
  display: flex;
  align-items: center;
}

/* Styles for the row and columns */
.row {
  display: flex;
  flex-direction: row; /* Horizontal arrangement */
  justify-content: space-between; /* Space between the columns */
}

.text {
  flex: 1; /* Text takes up available space */
  padding-right: 20px; /* Adjust spacing between the columns */
}

/* Styles for the circular profile picture */
.profile-picture {
  text-align: center; /* Center the image vertically */
}

.profile-picture img {
  max-width: 100%; /* Make the image responsive within its container */
  height: auto;
}
